* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    min-height:100vh;
    display: flex;
    background-color: black;
    font-size: 18px;
    font-family: sans-serif;


}

.component-one {
    display: inline-block;

}

nav {
    background-color: rgb(20, 18, 18);
    color: white;
    padding: 7px;
    margin: 9px;

    width: 31%;
    height: 152px;
    border-radius: 7px;
    position: fixed;
    top: 2px;

}

.fa-house {
    margin-right: 28px;
    size: 20px;
    cursor: pointer;
}

.fa-house:hover {
    color: white;
}

.fa-magnifying-glass {
    margin-right: 28px;
    size: 20px;
    cursor: pointer;
}

.fa-magnifying-glass:hover {
    color: white;
}

.fa-spotify {
    margin-left: 28px;
    cursor: pointer;
}

.s {
    margin-top: 15px;
    cursor: pointer;
    display: inline-block;
}

.h {
    margin: 25px;
    margin-left: 0px;
    padding-left: 23px;
    cursor: pointer;
    display: inline-block;

}

.se {
    margin-bottom: 20px;
    margin-top: 1px;
    ;
    padding-left: 26px;
    cursor: pointer;
    display: inline-block;
    color: rgb(143, 143, 143);
}

.se:hover {
    color: white;
}

.component-two {
    display: flex;

    


}

#library {
    background-color: rgb(20, 18, 18);
    color: white;
    padding: 7px;
    margin-left: 9px;
    margin-top: 0%;
    flex-grow: 1;
    flex-basis:200px;
    width: 31%;
    height: 389px;
    border-radius: 7px;
    position: fixed;
    top: 172px;
    bottom: 9px;
}

.plus {
    margin-left: 10px;
    background-color: rgb(20, 18, 18);
    width: 35px;
    height: 35px;
    margin: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 40px;
    cursor: pointer;
}

.plus:hover {
    background-color: rgb(54, 54, 54);
}

#internal {
    display: inline-block;
    background-color: rgb(20, 18, 18);
    width: 97%;
    height: 120px;
    margin-top: 6px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding-bottom: 0px;
    border-radius: 9px;
    overflow: hidden;
    overflow-y: scroll;

}

.create-playlist {
    display: inline-block;
    background-color: rgb(58, 55, 55);
    margin: 10px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 4px;
    padding-bottom: 0px;
    border-radius: 9px;
    width: 97%;
    height: 140px;
}

.first {
    padding: 20px;
    padding-bottom: 15px;
    font-size: 20px;
}

.it {
    padding-left: 20px;
    font-size: 15px;
}

.botton {
    background-color: white;
    color: black;
    display: inline-block;
    margin: 20px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    font-size: 12px;
}

.botton:hover {
    transform: scale(1.01);
    background-color: rgb(233, 233, 233);
}

.fa-book-open {
    margin-left: 20px;
    margin-right: 5px;
}

.l {
    display: inline-block;
    color: rgb(143, 143, 143);
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 190px;
    margin-bottom: 12px;
    cursor: pointer;
    float: left;
}


.l:hover {
    color: white;

}

.li {
    display: inline;
    color: rgb(143, 143, 143);
    margin-left: 20px;
    cursor: pointer;
}

.x {
    margin-top: 30px;
    margin-bottom: 15px;
    list-style: none;


}

.c {
    font-size: 12px;
    color: rgb(143, 143, 143);
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

.v {
    font-size: 12px;
    color: rgb(143, 143, 143);
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.e {
    display: inline-block;
    margin: 20px;
    border-style: solid;
    border-color: rgb(143, 143, 143);
    border-width: 1px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.fa-globe {
    margin-right: 6px;
}

.e:hover {
    border-color: white;
    transform: scale(1.02);

}

.component-three {
    display: inline-block;
    position: fixed;
    top: 11px;
    left: 441px;
}

.arrow{
    display: inline-block;
    margin-top: 6px;
    margin-left:26px ;
    float:left;
    
}

.left{
    background-color: rgb(10, 9, 9);
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 40px;
    float: left;
    cursor:not-allowed;

}

.right{
    background-color: rgb(10, 9, 9);
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-top: 10px;
    margin-left: 0px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 40px;
    float: left;
    cursor:not-allowed;

}

.play-list {
    background-color: rgb(20, 18, 18);
    display: inline-block;
    color: white;
    width: 916px;
    height: 550px;
    border-radius: 7px;


}

#m {
    display: inline-block;
    color: rgb(143, 143, 143);
    margin-bottom: 12px;
    margin-top: 5px;
    margin-left:59%;
    cursor: pointer;
    padding: 15px;
    padding-right: 30px;
 

}

#m:hover {
    color: white;
    animation-play-state: 2px;
}


#n {
    display: inline-block;
    background-color: white;
    color: black;
    margin-top: 8px;
    margin-bottom: 10px;
    margin-right: 15px;
    border-style: solid;
    border-color: white;
    border-width: 0px;
    padding: 14px;
    padding-left: 30px;
    padding-right: 30px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    cursor: pointer;

}

#n:hover {
    transform: scale(1.02);
    background-color: rgb(233, 233, 233);
}

.mainbox {
    display: inline-block;
    background-color: rgb(27, 26, 26);
    color: white;
    width: 916px;
    height: 483px;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
    top: 78px;
    left: 441px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

}



#header {
    display: inline-block;
    margin: 25px;
    margin-top: 7px;
    margin-bottom: 6px;
    font-size: 25px;
    cursor: auto;
}

.show {
    display: inline-block;
    margin-left: 66%;
    font-size: 14px;
    color: rgb(143, 143, 143);
    cursor: pointer;
}


#box1 {
    display: inline-block;
    background-color: rgb(22, 21, 21);
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 190px;
    height: 270px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    float: left;
    
}

#box1:hover {
    background-color: rgb(54, 54, 54);
    
.play {
    background-color: rgb(32, 206, 110);
    width: 48px;
    height: 48px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 40px;
    position: absolute;
    margin-top: 12%;
    margin-left: 12%;
    opacity:1;
}
   
}

.play {
    background-color: rgb(32, 206, 110);
    width: 48px;
    height: 48px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 40px;
    position: absolute;
    margin-top: 12%;
    margin-left: 12%;
    opacity: 0;
    transition: opacity 0.3s;

}


.play:hover {
   transform: scale(1.04);

}

img {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 7px;
}


.p1 {
    display: inline-block;
    margin: 10px;
    margin-bottom: 5px;
}

.c1 {
    display: inline-block;
    margin-left: 17px;
    margin-bottom: 15px;
    margin-right: 17px;
    color: rgb(143, 143, 143);
}



.Company {
    display: inline-block;
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
    float: left;

}

#vv {

    margin-top: 15px;
    font-size: 16px;
    color: rgb(143, 143, 143);
    cursor: pointer;
}

#vv:hover {
    color: white;
}


.Communities {
    display: inline-block;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 40px;
    margin-bottom: 10px;
    float: none;


}

.icon {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 15%;
    margin-left: 35%;

}

.instagram {
    background-color: rgb(22, 21, 21);
    width: 35px;
    height: 35px;
    margin: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 40px;
    float: left;
    cursor: pointer;

}

.twitter {
    background-color: rgb(22, 21, 21);
    width: 35px;
    height: 35px;
    margin: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 40px;
    float: left;
    cursor: pointer;

}

.facebook {
    background-color: rgb(22, 21, 21);
    width: 35px;
    height: 35px;
    margin: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 40px;
    float: left;
    cursor: pointer;
}

.twitter:hover {
    background-color: rgb(54, 54, 54);
}

.instagram:hover {
    background-color: rgb(54, 54, 54);
}

.facebook:hover {
    background-color: rgb(54, 54, 54);
}

hr {
    margin: 40px;
    color: rgb(27, 27, 27);

}

#vh {
    margin-top: 15px;
    margin-bottom: 70px;
    margin-left: 40px;
    font-size: 15px;
    color: rgb(143, 143, 143);
}

.Useful-links {
    display: inline-block;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;

}

#sign {
    display: inline-block;
    background-color: rgb(163, 71, 136);
    color: white;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-right: 9px;
    height: 70px;
    width: 1350px;
    position: fixed;
    left: 9px;

}

.color{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 0px;
    position: absolute;
    left: 0px;

}

#j {
    display: inline-block;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 0px;
    font-size: 13px;
    position: absolute;
    
}

#k {
    display: inline-block;
    padding-left: 15px;
    padding-top: 5px;
    font-size:18px ;
    position: absolute;
    margin-top: 10px;
}

#o {
    display: inline-block;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    border-style: solid;
    border-color: white;
    border-width: 0px;
    padding: 14px;
    padding-left: 30px;
    padding-right: 30px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 30px;
    bottom: 1px;

}

#o:hover{
    transform: scale(1.02);
      
}





